CDN_KEY=
CORS_ORIGINS=
FRONTEND_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=
HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=
RESEND_API_KEY=
SECRET_KEY=
WAKATIME_CLIENT_ID=
WAKATIME_CLIENT_SECRET=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=