[submodule "backend"]
	path = backend
	url = https://github.com/devlogs-plus/devlogs-plus-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/devlogs-plus/devlogs-plus-frontend.git
